diffusers==0.24.0
accelerate
bitsandbytes
datasets
huggingface_hub
matplotlib
numpy
packaging
Pillow
Pillow
PyYAML
PyYAML
safetensors
scikit_learn
scipy
torch
torchvision
tqdm
transformers
wandb
xformers==0.0.22
